.tela {
    background: url("../../assets/wallpaper.jpg") no-repeat center fixed;
    background-size: 100% 100%;
}

main{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease-in-out forwards;
    font-size: 10vh;
    margin-bottom: 10%;
}

.choosePlay {
    opacity: 0;
    transform: translateY(0px);
    animation: fadeInUp 1s ease-in-out forwards;
    font-size: 7vh;
    cursor: pointer;
    margin-top: 1%;
    transition: font-size 0.4s ease;
}

.choosePlay:hover {
    font-size: 7.5vh;
}

.chooseConfig {
    opacity: 0;
    transform: translateY(0px);
    animation: fadeInUp 1s ease-in-out forwards;
    font-size: 7vh;
    cursor: pointer;
    margin-top: 1%;
    transition: font-size 0.4s ease;
}

.chooseConfig:hover {
    font-size: 7.5vh;
}

@keyframes fadeInUp {to {opacity: 1;transform: translateY(0);}}