main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease-in-out forwards;
    font-size: 89px;
}

.ready {
    transform: translateY(0px);
    animation: aparece 1.5s ease-in-out forwards;
    font-size: 89px;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 60%;
}

.button-NotReady {
    opacity: 0;
    transform: translateY(0px);
    animation: aparece 1.5s ease-in-out forwards;
    font-size: 67px;
    cursor: pointer;
    text-align: center;
}

.button-Ready {
    opacity: 0;
    transform: translateY(0px);
    animation: aparece 1.5s ease-in-out forwards;
    font-size: 67px;
    cursor: pointer;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes aparece {
    to {
        opacity: 1;
    }
}

@keyframes desaparece {
    to {
        opacity: 0;
    }
}