.App-header {
  background-color: #232323;
  min-height: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.config {
  padding: 1vh; 
  border-radius: 2vh;
  font-size: 16px;
  outline: none; 
  background-color: #232323;
  color: white;
  margin-right: 1vh;
}

.config:hover {
  cursor: pointer;
}