.App {
  text-align: center;
  border: #000 solid 2px;
}

.All {
  border: #000 solid 2px;
}

.App-logo {
  height: 10vmin;
  pointer-events: nones;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.content {
  font-size: 32px;
  flex: 1;
  display: flex;
  background-color: rgba(255, 255, 255, 0.822);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #232323;
  min-height: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.janela{
  background-color: rgba(42, 63, 63, 0.822);
  border-radius: 1em;
  padding: 25px;
  color: #fff; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
